@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-text: 215, 16%, 47%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.listing-list {
  display: flex;
  flex-direction: column; /* Vertical layout */
  gap: 1rem; /* Space between cards */
}

.listing-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
}

.listing-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="number"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cancel-button {
  width: 100%;
  padding: 10px;
  background-color: #EE4B2B;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.submit-button:disabled {
  background-color: #ccc;
}

.background {
  background-image: url('./selmi.jpeg');
  background-size: cover;
  background-position: center;
}

.logo {
  background-image: url('./s3.jpeg');
  background-size: cover;
  background-position: center;
}

.seller {
  border-radius: 100%;
  width: 11%;
  margin-top:3%;
  margin-left: 71%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1.5);
}

.company {
  border-radius: 100%;
  width: 11%;
  margin-left: 43%;
  margin-top: 1.5%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1.5);
}

.buyer {
  border-radius: 100%;
  width: 11%;
  margin-top: 5%;
  margin-left: 27%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1.5);
}

.background-seller {
  background-color: #FFB3B3;
}

.background-company {
  background-color: #A9F5F7;
}

.background-buyer {
  background-color: #C6E2B5;
}

.listing-image {
  border-radius: 10%;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}
